body {
  background-color: teal;
}
h1 {
  color: blue;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
img {
  border-radius: 40%;
  border-color: red;
  height: 100px;
}

.food_category {
  color: brown;
  font-size: 30px;
  font-weight: bolder;
}
.food_item {
  float: left;
  font-size: 20px;
}
